* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.split {
  display: flex;
  flex-direction: row;
}



.gutter {
  background-color: #1f1d1d;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #2461e4;

}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}



.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-animation {
  animation: slideUp 0.6s ease-out forwards;
  opacity: 0;
  /* Start as invisible, will be handled by the animation */
}